@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply no-scrollbar;
}

/* Require html and body at base layer */
@layer base {
  :root {
    --popper-theme-padding: 0;
    --popper-theme-background-color: #fff;
    --popper-theme-background-color-hover: #fff;
    --popper-theme-border-radius: 10px;
  }

  html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  body {
    @apply text-accent  bg-white text-sm relative tracking-wide;
  }
  /* For Webkit-based browsers (Chrome, Safari and Opera) */

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  .btn-glass {
    background: rgba(214, 214, 214, 0.161);
    box-shadow: 0 8px 20px 0 rgba(147, 149, 179, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
  }
  .card {
    background: rgba(214, 214, 214, 0.161);
    box-shadow: 0 8px 24px 0 rgba(147, 149, 179, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .card-blue {
    background: rgba(170, 232, 224, 0.106);
    box-shadow: 0 8px 32px 0 rgba(147, 149, 179, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(51, 50, 50, 0.18);
  }

  .overview-card {
    background: rgba(158, 178, 209, 0.106);
    box-shadow: 0 8px 32px 0 rgba(126, 126, 134, 0.37);
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    border-radius: 10px;
  }
  .filter-box {
    background: rgba(233, 238, 236, 0.413);
    box-shadow: 0 8px 32px 0 rgba(211, 212, 240, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 5px;
    border: 1px solid rgba(51, 50, 50, 0.18);
  }

  /* Pagination */
  .example-one .pagination-container {
    column-gap: 12px;
  }
  .example-one .paginate-buttons {
    height: 30px;
    font-size: 14px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(217, 217, 217);
    color: black;
  }
  .example-one .paginate-buttons:hover {
    background-color: #d8d8d8;
    color: #070707;
  }
  .example-one .active-page {
    background-color: #2c7a7b;
    border: 1px solid #2c7a7b;
    color: #fff;
  }
  .example-one .active-page:hover {
    background-color: #2c7a7b;
    color: #fff;
  }
  .example-one .back-button:active,
  .example-one .next-button:active {
    background-color: #8e8e8e;
  }

  .bubble {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0%;
    right: 50%;
    animation: moveBubble 10s linear infinite;
  }

  .theme-box-shadow {
    box-shadow: rgba(24, 39, 75, 0.12) 0px 6px 14px -6px,
      rgba(24, 39, 75, 0.1) 0px 10px 32px -4px,
      rgba(24, 39, 75, 0.05) 0px 0px 2px 1px inset;
  }

  @keyframes moveBubble {
  }
}

@layer components {
  .v-input {
    @apply w-full border-[0.5px] mt-2 text-sm bg-transparent indent-3 py-2.5 border-accent focus:outline focus:outline-info rounded-md placeholder:text-xs md:placeholder:text-sm;
  }
  .btn-full {
    @apply w-full bg-info py-2.5 rounded-lg text-white hover:bg-info-tint hover:text-info font-bold;
  }
  .btnn-sm {
    @apply bg-info text-white font-semibold px-5 py-2.5 rounded-lg hover:bg-info-tint hover:text-info;
  }
  .btnn-sm-outline {
    @apply border-info border text-info font-semibold px-5 py-2.5 rounded-lg hover:bg-info-tint hover:text-info;
  }
  .btn-green-sm {
    @apply bg-primary text-white font-semibold px-3 md:px-5 py-1.5 md:py-2.5 text-xs rounded-lg hover:bg-primary-shades hover:text-white;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    -o-overflow-style: none; /* opera */
    scrollbar-width: none; /* Firefox */
  }
}
